*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #C880B7;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 9vmin;
    color: #5a6d90;
    background-color: #fff;
}
#reset-btn{
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color: #01200F;
    border-radius: 1rem;
    border: none;
    color: #fff;
}
.msg-container{
    gap: 3rem;
    height: 80vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
#msg{
    color: #4A2040;
    font-size: 5vmin;
}
#new-btn{
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #01200F;
    border-radius: 1rem;
    border: none;
    color: #fff;
}
